/* src/components/Header/Header.css */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
}

.logo-and-name {
  display: flex;
  align-items: center; 
}

.company-name h1 {
  font-size: 48px;
  font-weight: lighter;
  color: #fff;
  margin: 0;
}

.menu {
  margin-right: 15px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.menu ul li {
  display: inline;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: thin;
}

.menu ul li a:hover {
  color: #007bff;
}
