.product-carousel {
  font-family: "Roboto", serif;
  color: #fff;
  padding: 0px 20px;
  background: #000;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

.center {
  text-align: center;
  font-weight: 300;
}

.center2 {
  text-align: center;
  font-weight: bold;
}

.catalog-title {
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 20px;
  font-weight: bold;
}

.product-card {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.product-card img {
  width: 100%;
  max-width: 200px;
  margin-bottom: 10px;
}

.print-text {
  font-weight: 100;
  font-size: 2.5rem;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 5px;
}

.impressao3d {
  margin-top: 0;
  font-weight: bold;
  font-size: 2.5rem;
  text-decoration: underline dotted;
  text-underline-offset: 5px;
}

/* Responsividade */
@media (min-width: 768px) {
  .product-carousel {
    padding: 60px 40px;
  }

  h2 {
    font-size: 2.5rem;
  }

  .catalog-title {
    font-size: 2rem;
  }
}

/* Estiliza os pontos do Swiper */
.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 1;
}

/* Altera a cor do ponto ativo */
.swiper-pagination-bullet-active {
  background-color: blue !important;
}
