.product-carousel {
  font-family: "Roboto", serif;
  color: #fff;
}

.content {
  margin: 0 20px;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

.center {
  margin: 1em 0 0 0;
  text-align: start;
  font-weight: 300;
}

.center2 {
  margin-bottom: 1em;
  text-align: start;
  font-weight: bold;
  font-size: 2.5rem;
}

.catalog-title {
  font-size: 0.8rem;
  text-align: right;
  margin-bottom: 20px;
  font-weight: 500;
}

.product-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  gap: 7px;
  margin-bottom: 10%;
}

.product-card * {
  margin: 0;
  text-align: start;
}

.product-carousel .userPhrase {
  font-weight: 200;
  font-style: italic;
}
.product-card h4 {
  font-size: 1.5rem;
}

.product-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.product-card img {
  width: 80%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
}

.product-card p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.print-text {
  font-weight: 100;
  font-size: 2.5rem;
  text-align: left;
  margin: 0;
}

.impressao3d {
  font-weight: bold;
  font-size: 2.5rem;
  text-decoration: underline dotted;
  text-underline-offset: 5px;
  margin: 0;
}

.category * {
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 1em;
}

.content.bottom {
  margin: 2.5em 1em;
}

/* Responsividade */
@media (min-width: 768px) {
  .product-carousel {
    padding: 60px 40px;
    margin: 0 20%;
  }

  .product-card {
    border: none;
  }

  h2 {
    font-size: 2.5rem;
  }

  .catalog-title {
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
  }

  .center,
  .center2 {
    font-size: 3em;
    text-align: center;
  }

  .print-text,
  .impressao3d {
    text-align: center;
    font-size: 4em;
  }

  .category {
    font-size: 2em;
  }
}
